#home .home-content h2 {
    margin: 50px 0;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#about h1 {
    text-transform: uppercase;
}

#about p {
    font-weight: 100;
    font-size: 26px;
    line-height: 34px;
}

h1, h2, h3 {
    font-weight: 100;
}

#services .container {
    padding-bottom: 40px;
}

#services p {
    margin: 35px 0;
    font-size: 16px;
    height: 60px;
}

#section-slider h1 {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 36px;
}

#portfolio {
    border-bottom: none;
}

#portfolio .portfolio .project-categories {
    margin: 15px 0 5px 0;
    color: white;
    font-size: 16px;
}

#portfolio .portfolio .project-name {
    margin-top: 0;
    font-size: 20px;
}

#portfolio .portfolio-item:hover .project-overlay {
    opacity: 0.8;
}

#suppliers {
    margin-top: -40px;
    padding-bottom: 40px;
}

#suppliers .supplier {
    padding: 25px 2%;
    float: left;
    height: 50px;
    width: 10%;
}

#suppliers p {
    font-size: 24px;
    line-height: 60px;
    color: #777 !important;
}

#suppliers .next-section, #services .next-section {
    margin-bottom: 15px;
    background-color: white;
    background-image: url(images/next_section_black.png);
}

#suppliers .ask-for-tender h4, #services .ask-for-tender h4 {
    clear: both;
    margin: 0;
    padding: 50px 0;
    font-size: 30px;
}

#suppliers .container-fluid {
    padding: 20px 0;
}

#quote {
    border: none;
}

#contractors {
    border: none;
}

#contractors .split-half {
    width: 50%;
    float: left;
}

#contractors ul {
    list-style-type: none;
    margin: 0;
}

#contractors ul li {
    margin-bottom: 35px;
}

#contractors a {
    font-size: 16px;
    color: white;
}

#footer {
    padding-top: 0;
}

#footer .contact, #footer #tender {
    padding-top: 100px;
}

#footer p, #footer a {
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#footer a:hover {
    color: #aaa;
}

#footer .contact {
    text-align: left;
}

#footer .contact div {
    margin: 40px 0;
}

#footer .realisations {
    clear: both;
    margin: 40px 0;
}

#footer .realisations h2 {
    margin-bottom: 30px;
}

#footer #facebook {
    background-color: #3b5998;
    padding: 10px;
    margin: 10px;
    position: relative;
    display: block;
    height: 30px;
    width: 300px;
    margin: auto;
}

#footer #facebook:hover {
    color: white;
}

#footer #facebook span {
    position: absolute;
    width: 300px;
    top: 14px;
    left: calc(50% - 150px);
}

#footer #facebook span:last-child {
     opacity: 1;
     transition: ease 0.3s;
 }

#footer #facebook:hover span:last-child {
    opacity: 0;
}

#footer #facebook span:first-child {
    opacity: 0;
    transition: ease 0.3s;
}

#footer #facebook:hover span:first-child {
    opacity: 1;
    transition: ease 0.5s;
}

#footer input[type=text], #footer textarea {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    width: 80%;
    outline: 0;
}

#footer textarea {
    height: 100px;
}

#footer input[type=text]:focus {
    background-color: transparent;
}

#footer button {
    color: #fff;
    height: 40px;
    background: transparent;
    margin-bottom: 20px;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 2px;
    width: 80%;
    outline: 0;
}
#footer button:hover {
    background: rgba(255,255,255,0.2);
}

#filters ul li {
    margin: 0 25px;
}

#filters ul li a {
    position: relative;
    font-size: 18px;
}

#filters ul li a::before {
    content: '/';
    left: -30px;
    position: absolute;
    color: #999 !important;
}

#filters ul li:first-child a::before {
    content: '';
}

#filters ul li a::after {
    content: "...";
    letter-spacing: 4px;
    font-size: 16px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    padding: 0;
    color: transparent;
}

#filters ul li a.active::after {
    color: #000;
}



@media only screen and (min-width: 1024px) {
    #suppliers .supplier:first-child {
        padding-left: 3%;
    }
    #suppliers .supplier:last-child {
        padding-right: 0;
    }
}

@media only screen and (max-width: 1024px) {
    #suppliers .supplier {
        padding: 25px 5%;
        width: 15%;
        height: 80px;
    }

    #suppliers p {
        font-size: 26px;
        line-height: 70px;
    }

    #footer .contact {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    #suppliers p {
        font-size: 22px;
        line-height: 45px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 480px){
    #suppliers .supplier:nth-child(5) {
        padding-left: 17.5%;
    }
}

@media only screen and (max-width: 479px) {
    #suppliers .supplier:nth-child(7) {
        padding-left: 30%;
    }

    #suppliers .supplier {
        width: 40%;
        height: 50px;
    }

    #contractors .container {
        padding: 100px 0 60px 0;
        width: 100%;
    }

    #contractors .split-half {
        float: none;
        width: 100%;
    }

    #contractors a {
        font-size: 18px;
    }

    #contractors .section-title {
        padding-bottom: 40px;
    }

    #contractors.home-image {
        height:auto;
    }

    #contractors ul li {
        margin-bottom: 20px;
    }

    #section-slider .caption-content {
        text-align: center;
    }

    #section-slider h1 {
        font-size: 18px;
        line-height: 26px;
    }

    #home .home-image img {
        width: 50%;
    }

    #home .home-image .word {
        width: 100%;
        display:block;
    }

    #home .home-image .separator {
        display: none;
    }

    #footer #tender {
         margin-top: -100px;
    }

    body p, body a, body h1, body h2, body h3, body h4, body span {
        font-weight: 300 !important;
    }
}
